<body id="body" class="day">

  <mat-toolbar color="primary">
    <span>Welcome to {{title}}!</span>
  </mat-toolbar>

  <div class="container">
    <ul class="nav nav-pills">
      <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
      <li><a routerLinkActive="active" routerLink="/login">Login</a></li>
      <li><a routerLinkActive="active" routerLink="/rockPaper">Rock Paper Scissors - game</a></li>
      <li><a routerLinkActive="active" routerLink="/game-list">Games - list</a></li>
      <li><a routerLinkActive="active" routerLink="/grafika">Opcje graficzne</a></li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div>

  <label for="lightswitch">
    <img src="https://github.com/Seggiana/kurnik/blob/master/AlaKurnik/miscellaneous.png?raw=true" alt="sunmoon.png" width="32" height="32">
  </label>

  <input type="checkbox" id="lightswitch">  

  <div class="main">
    <div class="container">
      <!--<router-outlet></router-outlet>-->
      <div class="features">
        <p>
          <router-outlet></router-outlet>
        </p>  
      </div>
    </div>
  </div>
</body>  