.link{
  color: #FFFFFF;
  text-decoration: none;
}
.example-icon {
  padding: 0 14px;
}


/*Sizing & Transition*/
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }/*
   
  * {
    margin: 0;
    padding: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }*/
   
  html, body {
    height: 100%;
  }
   
  /*Wrapper*/
  .main {
    padding: 30px;
    width: 100%;
    height: 110%;
    margin-bottom: 0px;
  }
  
  .label {
    position: absolute;
    top: 25px;
    right:25px;
    }

  .label2 {
    position: absolute;
    top: 30px;
    right:120px;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 1px 1px black;
  
  }  
  .label3 {
    position: absolute;
    top: 25px;
    right:70px;
    }

  
    .features {
     width: 100%;
     height: 100%;
    }
  
    input#lightswitch:checked + .main p {
      color: #aaa;
    }
     
    input#lightswitch {
        opacity: 0;
        width: 0;
        height: 0;
    }

    input#language {
      opacity: 0;
      width: 0;
      height: 0;
  }
  
  input#lightswitch:checked + .main {
    background: #222;
  }

  input#lightswitch+ .main {
    background: whitesmoke;
  }
  
  body {
    background-color: #3e51b4;
  }

  