<body>

<div style="height: 110vh;">
  <mat-toolbar color="primary">

    <mat-toolbar-row>
      <span>{{title}}</span>

      <div>
        <a mat-button *ngIf="username" routerLink="/home">
          <mat-icon>how_to_reg</mat-icon>
          <a class="link" >Home</a>
        </a>

        <a mat-button *ngIf="username" routerLink="/rockPaper">
          <mat-icon>how_to_reg</mat-icon>
          <a class="link" >Rock Paper Scissors</a>
        </a>

        <a mat-button  *ngIf="username" routerLink="/pong">
          <mat-icon>how_to_reg</mat-icon>
          <a class="link" > Pong </a>
        </a>

        <a mat-button  *ngIf="username" routerLink="/snake">
          <mat-icon>how_to_reg</mat-icon>
          <a class="link" > Snake </a>
        </a>

        <a mat-button *ngIf="username" routerLink="/game-list">
          <mat-icon>how_to_reg</mat-icon>
          <a class="link" >Games list</a>
        </a>

        <a mat-button *ngIf="!username" routerLink="/register">
          <mat-icon>add_circle</mat-icon>
          <a class="link" >Register</a>
        </a>

        <a mat-button  *ngIf="!username" routerLink="/login">
          <mat-icon>add_circle</mat-icon>
          <a class="link" > Login </a>
        </a>

        <a mat-button  *ngIf="username" (click)="logout()">
          <mat-icon>near_me</mat-icon>
          <a class="link" > Logout</a>
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <label for="lightswitch">
      <img src="https://github.com/Seggiana/kurnik/blob/master/AlaKurnik/miscellaneous.png?raw=true" alt="sunmoon.png" width="32" height="32">
    </label>
  
    <input type="checkbox" id="lightswitch" (change)="setDarkTheme()"> 

    <div class="main">
        <div class="container"><div class="features">
            <p>
          <router-outlet></router-outlet>
              <router-outlet></router-outlet>
            </p>  
          </div>
        </div>
      </div>
    
</div>
</body>