
<div class="game-container">
  <div class="game-header">
    <h3 class="logo">{{messages.home.Snake}}</h3>
    <div class="score-block">
      <h3 class="score" [ngClass]="{'new-best-score': newBestScore}">{{messages.home.Score}}: {{score}}</h3>
      <h3 class="best-score" [ngClass]="{'new-best-score': newBestScore}">{{messages.home.BestSc}}: {{best_score}}</h3>
    </div>
  </div>
  <div class="row" *ngFor="let column of board; let i = index;">
    <div class="column" [ngStyle]="{'background-color': setColors(i, j)}" *ngFor="let row of column; let j = index"></div>
  </div>

  <div class="start-button" [ngClass]="{'disable-clicks': gameStarted}" (click)="showMenu()">{{messages.home.StartGame}}</div>
  <div class="new-game-menu" *ngIf="showMenuChecker">
  
    <span class="new-game-menu-label">{{messages.home.SelectMode}}</span>
    <div class="start-button new-game-button" (click)="newGame(mode)" *ngFor="let mode of getKeys(all_modes)">{{all_modes[mode]}}</div>
  </div>
</div>

<p><b>{{messages.home.Instructions}}</b><br>
{{messages.home.SnakeInstruction}}<br>
{{messages.home.Controls}}<br>
<b>&nbsp;W: </b> {{messages.home.Up}}<br>
<b>&nbsp;S: </b>{{messages.home.Down}}<br>
<b>&nbsp;D: </b> {{messages.home.Left}}<br>
<b>&nbsp;A: </b> {{messages.home.Right}}</p>